@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(styles/reset.css);
@import url(styles/header.css);
@import url(styles/sobre.css);
@import url(styles/projetos.css);
@import url(styles/contato.css);
@import url(styles/tecnologias.css);
@import url(styles/footer.css);

:root {
    --principal: #2c3639;
    --secundaria: #3f4e4f;
    --bege: #a27b5c;
    --branco: #dcd7c9;
    --preto: #0d0d0d;
    --cinza: #1f1f1f;
    --cinza-claro: #2a2a2a;

    --fonte-titulo: "Inter", sans-serif;
    --fonte-texto: "Poppins", sans-serif;
}

body {
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6{
    color: var(--branco);
    font-family: var(--fonte-titulo);
}

p {
    color: var(--branco);
    font-family: var(--fonte-texto);
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 10em;
}

img {
    width: 100%;
}
