.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

    .cabeçalho__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        .nav__lista {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2em;
        }

            .nav__lista__item__link {
                font-family: var(--fonte-texto);
                font-size: 12px;
                font-weight: 600;
                color: var(--bege);
                text-decoration: none;
            }

            .nav__lista__item__link:hover {
                color: var(--branco);
            }

@media screen and (min-width: 1024px) {
    .cabeçalho {
        padding: 2em 10%;
    }

    .nav__lista__item__link {
        font-size: 1.1rem;
    }
}
