.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

    .projetos__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

        .projetos__container__link {
            text-decoration: none;
        }


        .projetos__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--principal);
            padding: 1em 0.5em;
            border-radius: 16px;
            gap: 1em;
            width: 80%;
            border: 3px solid var(--bege);
        }

            .container__imagem {
                border-radius: 16px;
            }


            .container__conteúdo {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }

                .container__titulo {
                    color: var(--branco);
                    font-family: var(--fonte-titulo);
                    font-size: 16px;
                    font-weight: 600;
                    padding-top: 0.3em;
                }

                .container__texto {
                    color: var(--branco);
                    font-family: var(--fonte-texto);
                    font-size: 14px;
                    font-weight: 400;
                    text-align: start;

                }

@media screen and (min-width: 768px) {
    .projetos {
        margin: 0 5em;
    }

    .projetos__lista {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
        max-width: 1200px;
    }

    .projetos__container {
        width: 40%;
        max-width: 350px;
    }
}

@media screen and (min-width: 1024px) {
    .titulo__seção {
        font-size: 2.5rem;
    }

    .projetos__container {
        width: 30%;
    }
}
