.tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

    .tecnologias__lista {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin: 0.3em 2em;
    }

        .tecnologias__caixa {
            border-radius: 16px;
            padding: 1em;
            background: #3f4e4f;
            padding: 1rem;
            border-radius: 16px;
        }

@media screen and (min-width: 768px) {
    .tecnologias {
        margin: 0 5em;
    }

    .tecnologias__lista {
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }
}

@media screen and (min-width: 1024px) {
   
    .tecnologias__lista {
        grid-template-columns: repeat(5, 1fr);
    }
}


@media screen and (min-width: 1204px) {
   
    .tecnologias{
        margin: 0 20em;
    }

}